

body{
    margin: 0;
    background: #083156;
    overflow: hidden;
}
root{
    background: #083156;
}

.HomePage{
    background: #083156;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "info info"
    "cal but";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: .5fr 4fr 5fr;
    height: 100vh;
}

.LogWorkoutPage{
    background: #083156;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "pick workout";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 9fr;
    height: 100vh;
}

#pick{
    margin-left: 40px;
    font-size: 35pt;
    padding-left: 40px;
    color:white;
    font-family: 'Work Sans', sans-serif;
    margin-bottom:-20px;

}

#search{
    font-size: 15pt;
    margin-left: 30px;
    padding-left:20px;
    color:white;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
}



.WorkoutContainer{
    grid-area: workout;
    display: grid;
    grid-template-areas: 
    "head"
    "exers"
    "but";
    grid-template-rows: .5fr 5fr 1fr;
}

.ExerciseContainer{
    grid-area: exers;
    display: flex;
    flex-direction: column;
}

.logExercise{
    background-color: #B1E1FF;
    width: 950px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 10px 12px;
    border-radius: 15px;
}

.logExercise > div{
    display: flex;
    justify-content: space-between;
}

.logExerciseName{
    background-color: #FF7777;
    padding: 5px;
    border-radius: 15px;
}

.logExerciseSets{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}

.logExerciseReps{
    padding: 5px;
    border-radius: 15px;
}

.exerExpandSet{
    
}

.exerExpandReps{
    margin-right: 575px;
}

.exerExpandReps > input{
    background-color: #B1E1FF;
    outline: 0;
    border: 0;
    font-size: 20pt;
    font-family: 'Work Sans', sans-serif;
}

.exerExpandRepsLast > input{
    background-color: #B1E1FF;
    outline: 0;
    border: 0;
    font-size: 20pt;
    font-family: 'Work Sans', sans-serif;
    width: 35px;
}

.exerExpandSetAdd{
    color:gray;
}

.exerExpandRepsAdd{
    color:gray;
    margin-right: 480px;
}


.exerExpandSetLast > input{
    background-color: #B1E1FF;
    outline: 0;
    border: 0;
    font-size: 20pt;
    font-family: 'Work Sans', sans-serif;
    width: 35px;
}

.exerExpandRepsLast{
    margin-right: 480px;
}

.logExpansion{
    padding: 5px 10px 5px 10px;
    font-size: 20pt;
}

.logExpansionAdd{
    padding: 5px 10px 5px 10px;
    font-size: 20pt;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 15px;
}

.logExpansionLast{
    padding: 5px 10px 5px 10px;
    font-size: 20pt;
    border-radius: 15px;
}

#logDownArrow{
    height: 25px;
    margin: auto 0;
}

#workoutHeader{
    grid-area: head;
    background-color: #1B8EF2;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

#workoutButtons{
    background-color: #083156;
    grid-area: but;
    display: flex;
    justify-content: right;
}

#editImg{
    height: 40px;
    cursor: pointer;
    margin-top:auto;
    margin-bottom: auto;
}


#workoutHeader > span > input{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 25pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #1B8EF2;
    width: 55px;
    border: 0;
    outline: 0;
    padding: 0;
}

#workoutHeader > span > span{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 25pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #1B8EF2;
}

#workoutHeader > input{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 25pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #1B8EF2;
    width: 300px;
    border: 0;
    outline: 0;
    padding: 0;
}



.LoginPage{
    background: #083156;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    ". title ."
    ". auth  ."
    ".  .    .";
    height: 100vh;
    grid-template-rows: 3fr 2fr 2fr;
}

#firebaseui-auth-container{
    grid-area: auth;
}

#loginTitle{
    grid-area: title;
    font-family: 'Work Sans', sans-serif;
    font-size: 50pt;
    color:White;
    text-align: center;
    line-height: 200px;
}

header {
    grid-area: nav;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 25pt;
    line-height: 1.7;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: space-between;
}

header > div{
    display: inline;
}

#title{
    margin-left: 10px;
}

#usernameImgContainer{
    margin-right: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
}

#info{
    font-family: 'Work Sans', sans-serif;
    color: white;
    grid-area: info;
    font-size: 30pt;
    padding: 15px 30px;
}

#info > p{
    margin: 10px 0;
    /* display: inline; */
}

#infoWelcome{
    font-size: 50pt;
    padding-left:20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#infoCompleted{
    padding-left:130px;
    display: block;
    font-size: 30pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#infoSpent{
    padding-left:270px;
    display: block;
    font-size: 30pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




h1{
    display: inline;
    font-size: 40pt;

}

#cal{
    grid-area: cal;
    background-color: black;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#notes{
    grid-area: cal;
    background-color: black;
    margin-left: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: 
        "header title"
        "select text";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}
#deleteSelection{
    float: right;
    display: inline;
    color: lightgray;
    cursor: pointer;
}

#deleteSelection:hover{
    color: red;
}

.NoteSelection{
    font-family: 'Work Sans', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}


.NoteSelectionTitle{
    font-size: 15pt;
    color: black;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
}

.NoteSelectionTitleActive{
    font-size: 15pt;
    color: #1B8EF2;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    text-overflow: ellipsis;
    justify-content: space-between;
}
.NoteSelectionTimestamp{
    font-size: 10pt;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#addNotesSelection{
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    line-height: 40px;  
    width: 40px;  
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #083156;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

#notesText{
    font-family: 'Work Sans', sans-serif;
    grid-area: text;
    border:0;
    padding: 3px;
    outline:0;
    margin-top: 2.5px;
    margin-left: 2.5px;
    background-color: #B1E1FF;
    resize: none;
    font-size: 15pt;
}

#notesHeader{
    background-color: #B1E1FF;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    grid-area: header;
    font-size: 30pt;
    margin-right: 2.5px;
    margin-bottom:2.5px;
    line-height: 52px;
}

#notesTitle{
    font-family: 'Work Sans', sans-serif;
    grid-area: title;
    font-size: 25pt;
    border:0;
    padding: 3px;
    outline:0;
    background-color: #B1E1FF;
    resize: none;
    margin-left:2.5px;
    margin-bottom:2.5px;
}

#NoteSelector{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #B1E1FF;
    margin-right: 2.5px;
    margin-top: 2.5px;
    max-height: 288.69px;
    overflow-y: auto;
    overflow-x: hidden;
}

#NoteSelector {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#NoteSelector::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



#but{
    grid-area: but;
    text-align: center;
    /* padding-bottom: 15pt; */
}

button{
    font-family: 'Work Sans', sans-serif;
    border-radius: 12pt;
    height: 72px;
    padding: 5px 20px;
    margin: 5px 10px;
    font-size: 15pt;
}

#viewStats{
    background-color: #B1E1FF;
} 

#viewArchive{
    background-color: #4DBAFF;
}

#logWorkout{
    background-color: #1B8EF2;
}

#logWorkoutWorkout{
    background-color: #1B8EF2;
}

#saveTemplateButton{
    background-color: #B1E1FF;
}

#selectExerciseContainer{
    grid-area: pick;
    display: grid;
    grid-template-areas:
    "type"
    "select";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    background-color: #1A2E40;
    font-family: 'Work Sans', sans-serif;
    color: white;
    height: 92vh;
}

#pickAnExercise{
    grid-area: type;
    text-align: center;
    line-height: 80px;
}

#pickAnExercise > span{
    font-size: 35pt;
}

#pickAnExercise > div > label{
    font-size: 25pt;
}

#pickAnExercise > div > input{
    font-size: 20pt;
    font-family: 'Work Sans', sans-serif;
    width: 200px;
}

#exercisesToPick{
    grid-area: select;
    overflow-y: scroll;
}


#exercisesToPick {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#exercisesToPick::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#cal > span{
    vertical-align:top;
    display: inline-block;
    height: 100%;
    width: 13.98%;
    background-color: #B1E1FF;
    text-align:center;
    
    
}
#cal > span > span{
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 17pt;
    font-weight: bold;
}

.myLine{
    display: inline-block;
    width: 100%;
    height: 3pt;
    background-color: black;
}

#userImg{
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

#logoutImg{
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

#switch{
    margin-top: 30px;
}

.arm{
    margin-left:30px;
    text-align: center;
    background-color: #FF9912;
    height: 60px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    float:left;
    line-height: 12pt;
}
.back{
    margin-left:30px;
    text-align: center;
    grid: but;
    background-color: #FFF177;
    height: 60px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    float:left;
    line-height: 12pt;
}
.shoulder{
    margin-left:30px;
    text-align: center;
    grid: but;
    background-color: #f77;
    height: 60px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    float:left;
    line-height: 12pt;
}
.chest{
    margin-left:30px;
    text-align: center;
    grid: but;
    background-color: #B37DDC;
    height: 60px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    float:left;
    line-height: 12pt;
}
.leg{
    margin-left:30px;
    text-align: center;
    grid: but;
    background-color: #5FE46C;
    height: 60px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    float:left;
    line-height: 12pt;
}
.core{
    margin-left:30px;
    text-align: center;
    grid: but;
    background-color: #7795FF;
    height: 60px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    float:left;
    line-height: 12pt;
}