body {
    background: #083156;
}

.navbar {
    background-color: black;
    color: white;
    width: 100%;
}

.page-container {
    margin-top: 75px;
}

button{
    background-color: aqua;
    height: 10000;
}

p{
    color:white;
    font-size: 111pt;
}