body {
    background: #083156;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "info info"
    "cal but";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 5fr;
    height: 100vh;
}

nav {
    grid-area: nav;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 30pt;
    line-height: 1.7;
    font-family: 'Work Sans', sans-serif;
}

nav > div{
    display: inline;
    margin: 12px;
}

#info{
    font-family: 'Work Sans', sans-serif;
    color: white;
    grid-area: info;
    font-size: 30pt;
    padding: 15px 50px;
}

#info > p{
    margin: 10px 0;
    /* display: inline; */
}

#infoWelcome{
    font-size: 50pt;
    padding-left:20px;
}

#infoCompleted{
    padding-left:120px;
    display: inline;
}

#infoSpent{
    padding-left:270px;
    display: inline;
}

#usernameNav{
    margin-left: 1140px;
}


h1{
    display: inline;
    font-size: 40pt;

}

#cal{
    grid-area: cal;
    background-color: blueviolet;
}

#but{
    grid-area: but;
    text-align: center;
}

button{
    font-family: 'Work Sans', sans-serif;
    border-radius: 12pt;
    height: 100px;
    padding: 10px 30px;
    margin: 10px;
    font-size: 15pt;
}
